!!!
%html
  %head
    %title This is my project
  %body
    %form(action='/upload' method='post' enctype='multipart/form-data')
      %p
        %label(for='upload_file') Choose a file
        %input(type='file' name='upload_file' id='upload_file')

      %button(type='submit') Upload >>
